<div class="row">
  <div class="col-md-5">
    <address>
      <strong> Coder Restaurant </strong><br/>
      44 Hoa Hong St., Phu Nhuan Dist., Ho Chi Minh City <br/>
      Phone: +84 91 529 88 19
    </address>
  </div>
  <div class="col-md-7">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.192230396075!2d106.68863071448591!3d10.796584361774336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528ce42af10b7%3A0x277f815609f1ef88!2sTrung+Nguyen+Coffee!5e0!3m2!1sen!2s!4v1497771500298" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>